PUBLIC_APP_URL=
PUBLIC_STAKING_URL=
PUBLIC_AFFILIATE_URL=
PUBLIC_GAMES_URL=
PUBLIC_ACADEMY_URL=
PUBLIC_GTAG=
PUBLIC_PARTNER_ADDRESS=
PUBLIC_PASS_GRAPH_URL=
PUBLIC_BETS_MEMORY_GRAPH_URL=
PUBLIC_MEMBERS_GRAPH_URL=
PUBLIC_FUND_GRAPH_URL=
PUBLIC_STAKING_GRAPH_URL=
PUBLIC_STATISTICS_GRAPH_URL=
PUBLIC_PREDICT_GRAPH_URL=
PUBLIC_STONES_GRAPH_URL=
PUBLIC_LUCKY_ROUND_GRAPH_URL=
AWS_DISTRIBUTION_ID=
AWS_APP_DISTRIBUTION_ID=
PUBLIC_ROULETTE_GRAPH_URL=
PUBLIC_UNISWAP_GRAPH_URL=
PUBLIC_STATISTICS_URL=
PUBLIC_BRANCH=
PUBLIC_LOTTERY_GRAPH_URL=
PUBLIC_CONTEXT_URL=
PUBLIC_PREDICT_URL=
PUBLIC_LURO_URL=
PUBLIC_ACADEMY_LINK=
PUBLIC_STONES_URL=
PUBLIC_MANIFEST=
PUBLIC_NOTIFICATIONS_URL=
PUBLIC_CORE_V2_GRAPH_URL=
PUBLIC_TOKEN_HOLDER_GRAPH_URL=
PUBLIC_ROULETTE_RUMBLE_GRAPH_URL=
PUBLIC_PRIVY_CLIENT_ID=
PUBLIC_USERNAMES_GRAPH_URL=
PUBLIC_LEGENDARY_1D_GRAPH_URL=
PUBLIC_LEGENDARY_1W_GRAPH_URL=
PUBLIC_LEGENDARY_4W_GRAPH_URL=
PUBLIC_LEGENDARY_12W_GRAPH_URL=
PUBLIC_ANNOUNCEMENTS_GRAPH_URL=
PUBLIC_RPC_URL1=
PUBLIC_RPC_URL2=
PUBLIC_RPC_URL3=
PUBLIC_ETHSCAN=
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
PUBLIC_TOKEN_ADDRESS=
PUBLIC_CONSERVATIVE_STAKING_ADDRESS=
PUBLIC_PASS_ADDRESS=
PUBLIC_CORE_ADDRESS=
PUBLIC_BETS_MEMORY_ADDRESS=
PUBLIC_DYNAMIC_STAKING_ADDRESS=
PUBLIC_PREDICT_ADDRESS=
PUBLIC_BTCUSDT_GAME_ADDRESS=
PUBLIC_LUCKY_ROUND_ADDRESS=
PUBLIC_LUCKY_ROUND_5MIN_ADDRESS=
PUBLIC_WALLETCONNECT_ID=
PUBLIC_ENVIRONMENT=
PUBLIC_AFFILIATE_ADDRESS=
PUBLIC_AFFILIATE_FUND_ADDRESS=
PUBLIC_MULTIMINT_ADDRESS=
PUBLIC_BTCUSDT_FEED_ADDRESS=
PUBLIC_STONES_ADDRESS=
PUBLIC_TRADING_VOLUMES_POOL_ADDRESS=
PUBLIC_USDT_TOKEN_ADDRESS=
PUBLIC_LIQUIDITY_POOL_ADDRESS=
PUBLIC_BONUS_POOL_ADDRESS=
PUBLIC_PARTNERS_POOL_ADDRESS=
PUBLIC_TEAM_POOL_ADDRESS=
PUBLIC_GH_TOKEN=
PUBLIC_LIRO_ADDRESS=
PUBLIC_LOTTERY_ADDRESS=
PUBLIC_MULTIBET_ADDRESS=
PUBLIC_PRIVY_APP_ID=
PUBLIC_PROVIDERS_URL=
PUBLIC_CLAIMER_ADDRESS=
PUBLIC_RANK_ADDRESS=
PUBLIC_RANK_NFT_ADDRESS=
PUBLIC_TOP_NETWORK_ADDRESS=
PUBLIC_LEGENDARY_SOURCE_URL=
PUBLIC_METADATA_ADDRESS=
PUBLIC_IPFS_URL=
